.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    height: 25rem;
    width: 17rem;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 1px 2px 0px rgba(0,132,255,0.7),
            1px 2px 4px 0px rgba(0, 102, 255, 0.7),
            2px 4px 8px 0px rgba(0, 110, 255, 0.7),
            2px 4px 16px 0px rgba(0, 26, 255, 0.7);
}

.container:hover {
    outline: solid 3px rgba(0, 102, 255, 0.7);
    background-color: rgba(72, 173, 255, 0.9);
    /* color: whitesmoke; */
}

.name{
    margin-top: 0.5rem;
    text-transform: capitalize;
    /* color: rgb(0, 0, 0); */
    font-size:x-large;
    /* color: #0e1929; */
}

/* .name:hover {
    color: rgb(35, 39, 88);
} */

.image {
    height: 10rem;
    width: 13.5rem;
    border-radius: 20px;
    /* padding-bottom: 0.5rem; */
}

.temperaments {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-Content: center;
    align-items: center;
    font-size: 20px;
    margin-top: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    /* background-color: rgba(202, 202, 202, 0.7); */
    border-radius: 15px;
    color: #0e1929;
    font-weight: 500;
}

.tempe{
    text-transform: capitalize;
    /* height: 1.5rem; */
    /* width: 6rem; */
    /* padding: 0.25rem 0; */
    /* margin: 1rem 1rem 1.5rem 1rem; */
    margin-right: 15px;
    /* border: solid 3px #1982c4; */
    /* background-color: #8fd8ee; */
    color: #1982c4;
    font-family: 'Monaco';
    font-weight: bold;
    /* border-radius: 15px; */
}