.search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center ;
}

.input {
    height: 2rem;
    width: 10rem;
    /* padding-inline: 1rem; */
    margin: 1rem 0rem 1rem 1rem;
    font-family: 'Monaco';
    font-size:large;
    border-radius: 15px;
    border: solid 3px rgba(0, 183, 255, 0.9);
    background-color: #0e1a2ccc;
    color: whitesmoke;
    font-weight: bold ;
    cursor: pointer;
}

.input::placeholder {
    color: #e9e1e2;
    padding-left: 1rem;
}

.button {
    height: 2.5rem;
    width: 9rem;
    margin: 1rem 1rem 1rem 1rem;
    font-family: 'Monaco';
    font-size:large;
    border-radius: 15px;
    border: solid 3px rgba(0, 183, 255, 0.9);
    background-color: #0e1a2ccc;
    color: whitesmoke;
    font-weight: bold ;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(9, 112, 247, 0.5);
    box-shadow: 0px 1px 2px 0px rgba(0,132,255,0.7),
            1px 2px 4px 0px rgba(0, 102, 255, 0.7),
            2px 4px 8px 0px rgba(0, 110, 255, 0.7),
            2px 4px 16px 0px rgba(0, 26, 255, 0.7);
}